<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 20%;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 1px 8px;
        }
        </style>
    <title>Home</title>
</head>
<body>
    
  
    <h5>account: </h5>
    <br>
    <div>
        <form method="get">
            <input type="search" name="search" placeholder="Search your job">
            <button type="submit">Search</button>
        </form><br>
    </div>
    <% for (let i = 0; i < posts.length; i++){ %>
    <div class="card">
        <h6>Status : posts[i].status<%=%></h6>
        <h4>Name: <%= posts[i].User.username%></h3>
        <img src="<%= posts[i].imgUrl%>" alt="img" style="width:100%">
        <div class="container">
        <h3><%= posts[i].title %></h3>
        <p><%= posts[i].content%></p>
        <h6><%= posts[i].location%></h6>
        <h6><%= formatDate(posts[i].createdAt)%></h6>
        <br>
        <h6><i><%= posts[i].Tags.name %></i></h6>
        </div>
    </div>
  <% } %>


</body>
</html>