<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job Posting</title>
    <link rel="stylesheet" href="style.css">
</head>
<center>
<body>
    <h3> My Account: <%= name %> </h3>
    <br>
    <h2>Add New Job Posting</h2>
    <br>
    <h4 style='color: red;'><%= err.split('Validation error:').join('') %></h4>
    <form method="post" enctype="multipart/form-data">

        <label for="TagId">Job Type</label>
        <select name="TagId" id="">
        <option disabled selected>Choose Tag</option>
        <% tags.forEach(tag=>{ %>
        <option value="<%= tag.id%>"><%= tag.name%></option>
        <% }) %> 
        </select><br><br>

        <label for="title">Title</label>
        <input type="text" name="title" id=""><br>

        <label for="img">Upload Images:</label>
        <input type="file" id="img" name="img" accept="image/*"> <br>

        <!-- <label for="img">Upload image:</label>
        <input type="file" id="img" name="img" accept="image/*"><br> -->

        <label for="content">Describe Job</label><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br>

        <label for="location">Location</label>
        <select name="location" id="">
        <option disabled selected>Choose Location</option>
        <% prov.forEach(provinsi=>{ %>
        <option value="<%= provinsi.name%>"><%= provinsi.name%></option>
        <% }) %> 
        </select><br><br>
        <button type="submit">Create New Post Job</button>
    </form>
</body>
</center>
</html>