<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 40%;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 1px 8px;
        }
        </style>
    <title>Home</title>
</head>
<body>

  <div>
    <form action="/users/logout">
      <button type="submit">logout</button>
    </form>
    <% if (role === "provider") { %>
    <nav>
      <a href="/posts/add/<%= id %>">Add Post</a>
    </nav>
  </div>
  
  <h3>My Account: <%= name %>  </h3>
  <br>
  <div>
      <form method="get">
          <input type="search" name="search" placeholder="Search your job">
          <button type="submit">Search</button>
      </form><br>
  </div>
    <% } else {%>
  </div>
  
  <h3> My Account: <%= name %> </h3>
    <br>
    <div>
        <form method="get">
            <input type="search" name="search" placeholder="Search your job">
            <button type="submit">Search</button>
        </form><br>
    </div>
      <% } %>
    <% if (role === "provider") {%>
    <h3>Daftar Postingan Kerja yang dibuat</h3>
    <% } else { %>
    <h3> Daftar Postingan Lowongan Pekerjaan</h3>
    <% } %>
    <% for (let i = 0; i < posts.length; i++){ %>
    <% if (role === "provider" && id === posts[i].User.id) { %>
    <div class="card">
        <div>
          <button><a href="/posts/delete/<%=posts[i].id%>">Delete Post</a></button>
          <button><a href="/posts/edit/<%=posts[i].id%>">Update Post</a></button>
        </div>
        <h6>Status : <%=posts[i].status %></h6>
        <h5>Created by <%= posts[i].User.fullName%></h5>
        <img src="<%= posts[i].imgUrl%>" alt="<%= posts[i].imgUrl%>" style="width:100%">
        <div class="container">
        <h3><%= posts[i].title %></h3>
        <p><%= posts[i].content%></p>
        <h6><%= posts[i].location%></h6>
        <h6><%= formatDate(posts[i].createdAt)%></h6>
        <br>
        <h6><i><%= posts[i].Tags.name %></i></h6>
        </div>
    </div><br>
    <% }else if (role === "seeker" && posts[i].status === "Open") { %>
      <div class="card">
        <h6>Status : <%=posts[i].status %></h6>
        <h5>Created by <%= posts[i].User.fullName%></h5>
        <img src="<%= posts[i].imgUrl%>" alt="img" style="width:100%">
        <div class="container">
        <h3><%= posts[i].title %></h3>
        <p><%= posts[i].content%></p>
        <h6><%= posts[i].location%></h6>
        <h6><%= formatDate(posts[i].createdAt)%></h6>
        <br>
        <h6><i><%= posts[i].Tags.name %></i></h6>
        </div>
    </div>
    <% } %>
  <% } %>


</body>
</html>